* {
    font-family: "Philosopher", sans-serif;
}

body, h2, h3{
    margin: 0;
}

h2{
    font-size: 40px;
}
/*-----MENU-----*/
.menu-block{
    display: flex;
}
.menu-btn{
    visibility: hidden;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}
.menubox{
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #CFD8DC;
}
#menu-toggle{
    opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
}
.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 41px;
    right: 17px;
    width: 40px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menubox{
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #CFD8DC;
}


#menu-toggle{
    opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
}

/*-----HEADER-----*/
header{
    border-bottom: #D8D8D8 solid 1px;
}

.header-wrapper{
    height: 100px;
    margin: 0 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    text-decoration: none;
    font-size: 36px;
    color: black;
}

.menu{
    width: 45%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.menu-a{
    text-decoration: none;
    color: black;
}

.menu-a:hover{
    font-weight: bold;
}

/*-----SECTION-ONE-----*/
.content-wrapper{
   margin: 0 99px;
}

.btn-home{
    width: 249px;
    padding: 15px 0px;
    text-align: center;
    margin-top: 24px;
    display: block;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.btn-home:hover {
    cursor: pointer;
    background-color: #282828;
}

.section-one{
    background: url("../assets/images/sport-bg.png") no-repeat fixed center center;
    background-size: cover;
}

.text-wrapper{
    padding-top: 272px;
    padding-bottom: 303px;
}

.section-one p{
    font-weight: 700;
    font-size: 24px;
    width: 50%;
    text-align: justify;
}

/*-----SECTION-TWO-----*/

.section-two{
    background-color: #CDCDCD;
}

.section-two h2{
    padding-top: 24px;
    text-align: center;
}

.brand-wrapper{
    padding-top: 115px;
    padding-bottom: 169px;
    display: flex;
    justify-content: space-between;
}

/*-----SECTION-TWO-----*/

.section-three-wrapper{
    display: flex;
    padding-top: 24px;
}

.text-block{
    width: 67%;
}

.text-block h2{
    margin-bottom: 83px;
}

.text-block p{
    font-weight: 700;
    font-size: 32px;
}

.img-block{
    width: 33%;
}

.img-sport{
    width: 100%;
    min-width: 156px;
    height: auto;
}

/*-----FOOTER-----*/
.footer{
    color: white;
    padding-top: 37px;
    padding-bottom: 31px;
    background-color: black;
}

.footer h3{
    font-size: 32px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.about-us{
    width: 35%;
}

.about-us p{
    text-align: justify;
}

.social-images{
    margin-top: 17px;
    width: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback{
    width: 33%;
}

.feedback input{
    display: block;
    width: 94%;
    height: 35px;
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 10px;
}

.feedback textarea{
    width: 95%;
    height: 100px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px 10px;
    resize: none;
}

.feedback button {
    background-color: gray;
    color: white;
    font-size: 23px;
    padding: 5px 10px;
    border: none;
}

/*-----Media 1280-----*/

@media(max-width: 1280px) {
    .header-wrapper{
        margin: 0 50px;
    }
    .menu {
        width: 55%;
        font-size: 22px;
    }

    .content-wrapper{
        margin: 0 50px;
    }
}

/*-----Media 900-----*/

@media(max-width: 900px) {
    h2{
        font-size: 32px;
    }
    .img-basket{
        width: 25px;
    }
    .title{
        font-size: 26px;
    }
    .menu {
        font-size: 16px;
    }
    .section-one p {
        font-size: 18px;
    }
    .btn-home{
        width: 180px;
        padding: 10px 0px;
        font-size: 18px;
    }
    .brand-wrapper img{
        width: 120px;
        height: 80px;
    }
    .text-block h2 {
        margin-bottom: 50px;
    }
    .text-block p {
        font-size: 24px;
    }
    .about-us {
        width: 45%;
    }
    .feedback{
        width: 45%;
    }
    .footer h3 {
        font-size: 24px;
    }
    .feedback button {
        font-size: 18px;
    }
}

/*-----Media 700-----*/

@media(max-width: 700px) {
    h2{
        font-size: 20px;
    }
    .menu{
        font-size: 0px;
        visibility: hidden;
    }
    .img-basket{
        visibility: hidden;
    }
    .menu-btn{
        visibility: visible;
    }
    .header-wrapper{
        margin: 0 27px;
    }
    .content-wrapper{
        margin: 0 27px;
    }
    .text-wrapper {
        padding-top: 109px;
        padding-bottom: 322px;
    }
    .section-one p {
        font-size: 16px;
    }
    .btn-home {
        width: 145px;
        padding: 5px 0px;
        font-size: 16px;
    }
    .brand-wrapper {
        padding-top: 57px;
        padding-bottom: 91px;
        flex-direction: column;
        align-items: center;
    }
    .brand-wrapper img{
        width: 160px;
        margin-bottom: 20px;
    }
    .text-block {
        width: 56%;
    }
    .text-block p {
        font-size: 16px;
    }
    .footer-wrapper{
        display: block;
    }
    .footer h3 {
        font-size: 20px;
    }
    .about-us{
        width: 100%;
    }
    .feedback{
        margin-top: 13px;
        width: 100%;
    }
}


